extends ./index
block content
    h1 Comment section
    .container
        .card.card-block
            h1( class = "card-title"  )= post.title
            p( class = "card-text" )= post.message
        form( action="newpost" method="post" )
            div
                input(name="postid" value=post.id hidden)
                textarea( type="text", name="comment", placeholder="write your awesome comment here" )
            input( type="submit" )