html
    head
        title Blog application
        link(rel="stylesheet" href="/bootstrap.css")
        link(rel="stylesheet" href="/custom.css")
    body
        h1 Blog application
        div
            a( href="/new-user") New User
        if user
            div
                a( href="/messageboard" ) View all posts 
            div
                a( href="/your-posts" ) View your posts
            div
                a( href="/newpost" ) Write a new message
            div 
                a( href="/logout" ) Logout
        else
            a( href="/login" ) Login 
            

        
        block content

        script(src="/custom.js")
        script(src="/jquery.js")